.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.filter-group {
  margin-right: 20px; 
  text-align: center; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Make labels bold for better visibility */
}

.quizzes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px; /* Set a max-width to limit the container size */
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 300px; /* Adjust the width as needed */
  margin: 10px; /* Add margin for spacing */
  max-height: 100px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03); /* Scale the card slightly on hover for a subtle effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
}

.card-body {
  padding: 20px;
}

.card, .card-body {
  border-radius: 8px;
}

.card a {
  color: inherit;
  text-decoration: none;
}