@import './global/variables.scss';
@import './global/forms.scss';
@import './components/Filter.scss';
@import './components/Profile.scss';

* {
  margin: 0px;
  
}


.button-container{
  display: flex;
  justify-content: space-around;
}